.DS_Store
.AppleDouble
.LSOverride

node_modules/
build/
dist/
.env
.env.*
!.env.example

*.class
*.jar
*.war
target/
out/
.gradle/

*.o
*.out
*.exe
*.dylib
build/
.cache/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj.claude/
